spring:
#  datasource:
#    url: jdbc:oracle:thin:@localhost:1521/FREEPDB1
#    username: shivey
#    password: business
#    driver-class-name: oracle.jdbc.OracleDriver
#    hikari:
#      maximum-pool-size: 20
#      minimum-idle: 5
#      connection-timeout: 30000
#      idle-timeout: 600000
#      max-lifetime: 1800000
  datasource:
    url: jdbc:oracle:thin:@localhost:5000/FREEPDB1
    username: STAYEAZE_APP
    password: app123
    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.Oracle12cDialect